{% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon %}

{% set product = hookable_metadata.context.product %}

{% if product.productDocuments is not empty %}
    <div class="container mb-6">
        <h2 class="mb-5">{{ 'asdoria.ui.download_documents'|trans }}</h2>
        <div class="row">
            {% for document in product.productDocuments %}
                <div class="col-auto btn-group" role="group">
                    <a class="btn btn-outline-secondary" href="{{ path('asdoria_shop_product_document_download_file', {'path' : document.path}) }}">
                        {{ icon({ icon: 'chevron_down', class: 'icon icon-tabler' }) }}
                        {{ document.documentType.name }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
