{% import '@SyliusAdmin/shared/helper/translations.html.twig' as translations %}

{% if form is not defined %}
    {% set form = hookable_metadata.context.form %}
{% endif %}

<div class="col">
    {{ form_errors(form) }}

    <div class="row">
        {{ form_row(form.code) }}
    </div>

    <div class="row">
        <div class="tab-pane {% if hookable_metadata.configuration.active|default(false) %}show active{% endif %}" id="document-type-translations" role="tabpanel" tabindex="0">
            <div class="card mb-3">
                <div class="card-header">
                    <h2 class="card-title">
                        {{ 'asdoria.form.translations.document_type'|trans }}
                    </h2>
                </div>
                <div>
                    {{ translations.default(form.translations, null, {accordion_id: 'document-type-translations', accordion_flush: true}) }}
                </div>
            </div>
        </div>
    </div>
</div>
